<h1>
	This is secret page
</h1>

<img src="https://scontent.fpoz2-1.fna.fbcdn.net/v/t1.0-9/45572600_1736378583157060_5328775819751849984_n.jpg?_nc_cat=105&_nc_oc=AQn7lRDZxqSfsoAqnE1CmxQ8jjI5WiwNRO3XWHvlp2JdfN4vE5FCi5Dq3zop-PmPel0&_nc_ht=scontent.fpoz2-1.fna&oh=350cc8036ff6f10fa8f2042eca28265f&oe=5DA2C138">

<li><a href="/logout">Log Out</a></li>