<% include partials/header %>
<h1>
	Strona Domowa
</h1>

<p>
	Z pliku home.ejs
</p>
<a href="https://ariel.run.goorm.io/posts/">
Posts
</a>
<a href="https://ariel.run.goorm.io/name/TweImie">
Imie (wpisz w linku po ostatnim '/')
</a>

<img src = "http://www.pngmart.com/files/7/Python-PNG-File.png" width = "300px">
<% include partials/footer %>
