<h1>
	This is my second page ... dynamic page ... Your Name is : <%= name %>
	
</h1>	
	<% if(name.toLowerCase() === "ariel"){ %>
	<p>
		Siemka też jestem Ariel :D
	</p>
<img src = "https://i.ebayimg.com/images/g/YGcAAOSwH6lXRHSr/s-l300.jpg">
	<% } %>
