<h1>
	Change page
</h1>

<form action="/add" method="POST">
		<input type="text" name="title" ="name" placeholder="tittle">
		<input type="text" name="artist" placeholder="artist">
		<button >ADD</button>
</form>

<form action="/remove" method="POST">
		<input type="text" name="title" ="name" placeholder="tittle">
		<input type="text" name="artist" placeholder="artist">
		<button >Remove</button>
</form>

